*.ipynb_checkpoints
*.Rhistory
__pycache__
*.idea

_configtest.o.d
cover/

build
dist/
tags

*.pyc
*.png
/*.egg-info
*.so
*.pyd
*.c
*.cpp
*.sln
*.pyproj
*~
*.pdf
.#*
*.lprof
*.swp
*.swo
.DS_Store
*.tar.gz
*.tgz
*.nt.bz2
*.prof
*.prefs
.pydevproject
.idea
.vscode

.coverage
.pytest_cache/
.cache/